.container {
  display: flex;
  flex-direction: row;
  gap: 15rem;
  max-width: 1000px;
  margin: 2rem auto;
}
.section {
  background: url("../assets/GREEN.webp") no-repeat center center/cover;
  height: 170vh;
  margin-top: -1rem;
  margin-bottom: -2rem;
  color: white;
  position: relative;
}
.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.section * {
  z-index: 9;
}
.timeline {
  position: relative;
  margin: 40px auto;
  width: 360px;
  border-left: 2px solid #ccc;
  padding: 0 20px 0 30px;
}
.timeline__wrapper {
  line-height: 1.7;
  background: #fff;
  padding: 10px 25px;
  border: 1px solid #ccc;
  position: relative;
  height: 110px;
  margin-bottom: 20px;
  color: #333;
}
.timeline__wrapper::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  border: 3px solid #ddd;
  position: absolute;
  top: 10px;
  left: -40px;
}
.timeline__wrapper::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #ddd transparent transparent;
  border-width: 8px;
  position: absolute;
  left: -17px;
  top: 10px;
}
span {
  color: #4caf50;
}
.paragraph {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 14.5px;
  justify-content: flex-start;
  align-items: flex-start;
}
.hello {
  position: relative;
}
.hello h5 {
  padding-top: 1.5rem;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  font-size: 16px;
  margin: 25px 12px;
  cursor: pointer;
}
.head {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
  margin-top: -1rem;
  position: relative;
}
h5 {
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0;
}

.aboutme {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background: linear-gradient(40deg, transparent, #4caf50, transparent);
  display: grid;
  place-items: center;
}
.aboutimg img {
  width: 15rem;
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
}
.aboutimg img:hover {
  transform: rotate(0);
}
.btn:hover,
.btn:active {
  background-color: wheat;
  color: #333;
}
