section {
  background: url("../assets/GREEN.webp") no-repeat center center/cover;
  height: 110vh;
  margin-top: -1rem;
  margin-bottom: -2rem;
  color: white;
  position: relative;
}
.hello {
  position: relative;
}
section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
section * {
  z-index: 9;
}
/* section h1,
h2,
p,
h5 * {
  z-index: 10; 
} */

.contactcontainer {
  width: 1100px;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 17%;
  margin: auto;
}
.contacttext {
  text-align: center;
  margin: 1rem 0;
  font-size: 2.5rem;
}
.contactparagraph {
  width: 35%;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  font-size: 16px;
  margin: 25px 12px;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: wheat;
  color: #333;
}
.contactoptions {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contactoption {
  background: #4caf50;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: white;
}
.contactoption h4 {
  font-size: 20px;
}
.contactoption a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500px;
}
.changeFont {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
input,
textarea {
  width: 80%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: white;
  resize: none;
  outline: none;
}
::placeholder {
  color: black;
  opacity: 1;
}
button {
  width: 30%;
}
input {
  border: 0.8px solid #333;
}
