nav {
  background-color: rgba(0, 0, 0, 0.8);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 10;
  position: fixed;
  left: 50%;
  bottom: 3rem;
  display: flex;
  transform: translateX(-50%);
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}
nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  font-size: 2rem;
}
nav a span {
  display: block;
}
nav a:hover {
  background: #4caf50;
}
nav a.active {
  background: #4caf50;
}
